<div class="col-xs-12 col-sm-12 col-md-12">
  <form id="form-register" method="post">
    <fieldset class="form-group">
      <label for="image">Avatar: </label>
      <input type="file" name="image" id="image" class="form-control" ng-model="registre.image"/>
    </fieldset>
    <fieldset class="form-group">
      <label for="fullname">Name: </label>
      <input type="text" name="name" id="fullname" class="form-control" ng-model="registre.name"/>
    </fieldset>
    <fieldset class="form-group">
      <input type="email" name="name" class="form-control" ng-model="registre.email"/>
    </fieldset>
    <button type="submite" class="btn btn-primary" ng-click="addRegistre(registre)">Cadastrar</button>
  </form>
</div>
